alias getmyip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ll='ls -lahtr' # r:reverse order
alias hist='history '
alias gs='git status'
alias clone='git clone '
alias gfeat='git flow feature '
alias ghot='git flow hotfix  '
alias ga='git add '
alias gc='git co '
alias gb='git branch --all'
alias grls='git flow release '
alias gpush='git push origin master'
alias gpull='git pull origin master'
alias dbmigrate='rake db:migrate '